.nav-link{
    color: aliceblue;
    text-decoration:none ;
    margin: 0 20px ;
    font-size: larger;
    
}
.nav-link:hover{
    color: wheat;
    text-decoration: underline;
}
.zh{
    font-family:"黑體-繁","微軟正黑體", sans-serif;
}
.navbar-toggler-icon{
    background-image:url(/IMG/icon-w.png);
    border-radius: 4px;
}
.navbar-brand{
    border-radius: 4px;
}

.ud{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
.ri{
    text-decoration: none;
}

.mybox{
    position:fixed;
    left: 250px;
    width: 30px;
    height: auto;
    margin: 0 0 -100px;
}
.mybox-img{
    border-radius: 100px;

}
.font-weight-bold{
    color:white;
    text-align: center;

}
.mb-4{
    color: #929292;
    text-shadow: #bc1888;
}

.ri-code-box-fill{
    font-size: 30px;
}
.ri-github-fill{
    font-size: 30px;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.prj{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg,#282828 0%,#282828 28.53%,#272727 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}
.prj-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}
.prj-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin:  0 0 60px;
}
.prj-text h4{
    font-size: 18px;
    font-weight: 600;
    color:white;
    margin-bottom: 10px;

}
.prj-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.coding-gif img{
    width: 700px;
    height: auto;

}
.prj-text a{
    display: inline-block;
    color: white;
    background: #3d3d3d ;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.prj-text a:hover{
    background:  transparent;
    border:  1px solid white;
    transform: translateX(2px);
}
.prj-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;

}

.ic{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);

}
.ic i{
    display: block;
    margin: 26px 0;
    font-size: 35px;
    color: white;
    transition: all .50s ease;

}
.ri-line-fill:hover{
    color: #01ff12;
    transform: translateY(-5%);
}
.ri-youtube-fill:hover{
    color: #ff0000;
    transform: translateY(-5%);
}
.ri-instagram-line:hover{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    transform: translateY(-5%);
    border-radius: 9px;
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #929292;
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}
@media (min-width:990px) {
    button{
        display:none;
    }

    
}
@media (max-width:px) {
    button{
        display:none;
    }

    
}
#learn{
    font-size: 90px;
    line-height: 1;
    color: white;
    margin:  0 0 60px;
}
.myself{
    width: 600px;
    font-size: 24px;
}
p{
    color: aliceblue; 

}
.mb-3{
    margin: 0 0 -100px;
}